
/* 
    Created on : Nov 13, 2024, 1:32:32 PM
    Author     : mushr
*/

*{
    transition: 0.4s ;
}

html{
    scroll-behavior: smooth;
}

body {
    /* imagen de fondo */
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url("../imagenes/img-fondo-pagina.png");
     background-size: cover; /* cubrir la pantalla */
    font-family: "Ubuntu", helvetica;
    background-position: center; /* mentener la imagen de fondo centrada */
    
}
/*/se te olvido la contraseña?/*/
a {
    text-decoration: none;
    color: black;
    transition: .5s ease;
}

a:hover {
    color: #179b79; /* Color $color-principal-dark */
}

/*/contenedor/*/
.contenedor-formularios {
    background: white; /* Color $form-bg */
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 20px; /* $br */
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3); /* $form-bg */
}

.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    display: flex; /* Agregar esta línea para alinear los elementos horizontalmente */
}

.contenedor-tabs:after {
    content: "";
    display: table;
    clear: both;
}
/*/cuando no esta seleccionado (registrar / iniciar sesion)/*/
.contenedor-tabs li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, .25);
    color: #e73f0b;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.contenedor-tabs li {
    flex: 1; /* Para que cada pestaña ocupe el mismo espacio */
}
/* Color cuando se tiene el mouse por encima de el */
.contenedor-tabs li a:hover {
    background: #a11f0c; /* Color color-principal */
    color: #fff; /* Color $blanco */
}
/* Color cuando esta activo (registrar / iniciar sesion)*/
.contenedor-tabs .active a {
    background: #e73f0b; /* color-principal */
    color: #fff; /* Color $blanco */
}

.contenido-tab > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: black; /* Color */
    font-weight: 300; /* $thin */
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: black; /* Color  */
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #e73f0b; /* color-principal */
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: black; /* Color  */
}
/*  */
input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0; /* Color  */
    border-top: none;
    border-left: none;
    border-right: none;
    color: #8c8c8c; /* Color  */
    border-radius: 5px;
    transition: all 0.5s ease;
}

input:focus {
    outline: none;
    border-color: #179b79; /* color-principal */
}

.contenedor-input {
    position: relative;
    margin-bottom: 40px;
}

.fila-arriba:after {
    content: "";
    display: table;
    clear: both;
}

.fila-arriba div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.fila-arriba div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: #e73f0b; /* color-principal */
    color: #fff; /* Color  */
    transition: all .5s ease;
    -webkit-appearance: none;
}

.button:hover,
.button:focus {
    background: #a11f0c; /* color-principal */
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .fila-arriba div {
        width: 100%;
    }

    .fila-arriba div:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-tabs li a {
        width: 100%;
    }
}
